		body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQo8-txvpCRy8BCrqgzCEPb7Aa1CQEoCmizdg&usqp=CAU");"
  background-repeat: no repeat;
  background-size: 500px;

		}

	p {
      color: red;
			font-family: georgia;
			font-size: 20px;
		}